@import '~phovea_ui/src/fonts/yantramanav';

html, body {
  padding: 0;
  margin: 0;
  /*width: 100%;
  height: 100%;*/

  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
}

#caleydoHeader {
  flex: 0 0 auto;
}

#app {
  flex: 1 1 auto;
  position: relative;

  > .lu {
    position: absolute !important;
    left: 10px;
    top: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

form {
  display: inline;
}

#drop_zone {
  border: 2px dashed #BBB;
  border-radius: 5px;
  padding: 1px 2em;
  text-align: center;
  color: #BBB;
}


$lu_assets: '~lineupjs/src/assets';
@import '~lineupjs/src/styles/taggle';

.lineup-engine > header section.lu-header .lu-summary[data-summary=stratify] {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > span {
    position: absolute;
    bottom: -15px;
    pointer-events: none;
    user-select: none;
    line-height: 100%;

    // create axis tick as background image and position it left or right
    background-image: linear-gradient(to bottom, #000 3px, transparent);
    background-repeat: no-repeat;
    background-size: 1px 3px;
    padding-top: 5px;

    &:first-of-type {
      left: 0;
      background-position: left top;
    }

    &:last-of-type {
      right: 0;
      text-align: right;
      background-position: right top;
    }
  }
}

.lu-side-panel .lu-summary[data-summary=stratify] {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30px;
}
