
html, body {
  padding: 0;
  margin: 0;
  /*width: 100%;
  height: 100%;*/

  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

#caleydoHeader {
  flex: 0 0 auto;
}

#app {
  flex: 1 1 auto;
  position: relative;

  > .lu {
    position: absolute !important;
    left: 10px;
    top: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

form {
  display: inline;
}

#drop_zone {
  border: 2px dashed #BBB;
  border-radius: 5px;
  padding: 1px 2em;
  text-align: center;
  color: #BBB;
}

@import '~lineupjs/src/styles/engine';
